.nav {
  margin: 32rpx 0;
  border-radius: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .title {
    font-size: 28rpx;
    color: rgb(165, 165, 165);
    border-radius: 30rpx;
    padding: 8rpx 24rpx;
    background-color: #F5F7F8;

    &.active {
      color: #FB7299;
      background-color: #FFF2F6;
    }
  }
}

.content {
  margin: 0 20rpx;
}

.comic {
  display: flex;
  margin-bottom: 30rpx;

  .cover {
    margin-right: 20rpx;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 34rpx;
      font-weight: 600;
      color: #000;
    }

    .author {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 24rpx;
      color:#666;
    }

    .txt {
      flex-shrink: 0;
      display: block;
      // color: #333;
      padding: 4rpx 8rpx;
      border-radius: 12rpx;
      background-color: #f7f7f7;
      margin: 10rpx;
    }

    .tag{
      font-size: 24rpx;
      color:#666;
    }

    .total{
      font-size: 28rpx;
      color:#666;
    }
  }
}